body {
    margin: 0px;
    padding: 0px;
    background-size:cover;
    
    background-image: url(../assets/110633178_p0.png);
    background-position: 14% ;
    
}

a.a-link{
    text-decoration:none;
    color:rgb(81, 136, 184)
  }

.top{
    height: 80px;
    position:fixed;
    box-shadow: 1px 1px 5px 0 #fdc7c7;
    width: 100%;
    background-image:linear-gradient(rgba(255, 234, 234, 0.445), rgba(236, 234, 255, 0.664)),  url(../assets/110633178_p0.png);

    
    background-size:cover;
    background-position: 100% 60%;
    
    text-align:center;
    opacity: 0.9;
    border-radius: 5px;
    z-index: 10;

    .top-nav {
        width: 1200px;
        margin: 0px auto;
        display: flex;
        align-items: center;
        margin-top: 20px;

        .logo{
            font-size: 35px;
            font-weight:bolder;
            color: #617bbb;
            font-style: italic;
            text-decoration: none;
            margin-right: 20px;
            margin-left: 20px;
        }
        .nav-item{
            text-decoration: none;
            margin-left: 20px;
            padding: 0px 30px;
            color: #46337c;
            font-size: 17px;
        }
        .nav-item:hover{
            color: rgb(148, 72, 82);
        }
        .active {
            color: rgb(148, 72, 82);
        }
    }
}
.body-container{
    padding-top:70px;
    width: 1200px;
    opacity: 0.95;
    //background-color: #fff6f6;
    //background-image: url(../assets/104691931_p0.jpg);
    background-image:linear-gradient(rgba(255, 250, 250, 0.842), rgba(253, 235, 235, 0.836)),  url(../assets/104691931_p0.jpg);
    box-shadow: 1px 1px 5px 0 #c08080ad;
    margin:0px auto;
    min-height: calc(100vh - 110px);
    border-radius: 10px;
}

.footer {
    padding-top: 10px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    color: #3a3a3a;
    line-height: 20px;
}

//blog_scss
.container{
    margin-top: 10px;
    display: flex;

    .left {
        flex: 1;
        background:#fff;
        border-radius: 30px;
        padding:20px;
        .pagination{
            margin-top:5px;
        }
    }
    .right {
        margin-left:10px;
        margin-right: 10px;
        width: 280px;
        background:#fff;
        border-radius: 30px;
        padding: 15px;
        .part-title{
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #ddd;
            padding: 8px 8px 10px 5px;
            .ri-title{
                font-size: 16px;
                color: #ac3e3e;
            }
            .a-link{
                font-size: 13px;
            }

        }
        .category-list,
        .user-list {
            margin-bottom: 10px;
        }
    }
}
